@page "/unit"

<h3>Unit</h3>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; } = new MainLayout();


    protected override void OnInitialized()
    {
        Layout.Title = "واحد";
    }
}
