@page "/User/NewAdmin"
@inject IUserHttpService _user

<h3>ایجاد کاربر ادمین</h3>

<EditForm Model="newUser" OnValidSubmit="HandelUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudItem xs="12" sm="6">
        <MudGrid Spacing="2" Class="mt-8">
            <MudItem xs="12">
                <MudTextField @bind-Value="newUser.Name" Label="نام" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" RequiredError="الزامی"></MudTextField>
            </MudItem>
            <MudItem xs="12">
                <MudTextField @bind-Value="newUser.Family" Label="نام خانوادگی" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" RequiredError="الزامی"></MudTextField>

            </MudItem>
            <MudItem xs="12">
                <MudTextField @bind-Value="newUser.Username" Label="نام کاربری" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" RequiredError="الزامی"></MudTextField>

            </MudItem>
            <MudItem xs="12">
                <MudTextField @bind-Value="newUser.Password" Label="رمزعبور" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" RequiredError="الزامی"></MudTextField>

            </MudItem>
            <MudItem xs="12">
                <MudTextField @bind-Value="newUser.ConfirmPassword" Label="تکرار رمز عبور" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>

            </MudItem>
            <MudItem xs="12">
                <MudTextField @bind-Value="newUser.Mobile" Label="تلفن همراه" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>

            </MudItem>

            <MudItem xs="12">
                <MudTextField @bind-Value="newUser.Email" Label="ایمیل" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>

            </MudItem>
            <MudItem>
                <LoaderSpinner ButtonTitle="ثبت کاربر" Request=sendRequest btnType="btn-success" />

            </MudItem>
        </MudGrid>
    </MudItem>

</EditForm>


@code {
    UserDto newUser = new UserDto();
    bool sendRequest = false;

    [CascadingParameter]
    public MainLayout Layout { get; set; } = new MainLayout();


    protected override void OnInitialized()
    {
        Layout.Title = "ایجاد کاربر ادمین";
    }

    async Task HandelUser()
    {
        sendRequest = true;

        var state = await _user.CreateAdminUser(newUser);

        if (state)
        {
            newUser = new UserDto();
        }
        sendRequest = false;
    }
}
