@page "/"
@attribute [Authorize]

<h1> سلام!</h1>
به برنامه آپارتمان من خوش آمدید.

@code{
    [CascadingParameter]
    public MainLayout Layout { get; set; } = new MainLayout();

    string isUser = "";

    protected override async Task OnInitializedAsync()
    {
     
        Layout.Title = "صفحه اصلی";

    }

}