@page "/"
@inject IUserHttpService _user

<h1>سلام!</h1>

به برنامه آپارتمان من خوش آمدید.

@isUser

@code{
    string isUser = "";
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Layout.Title = "صفحه اصلی";
        var check = await _user.CheckUserIs();

        if(check == true){
            isUser = "کاربر وجود دارد";
        }
        else if(check == false){
            isUser = "کاربر نیست";
        }
        else{
            isUser = "خطا در دریافت اطلاعات";
        }
    }

}