@inherits LayoutComponentBase

<div class="page">
    <BlazoredToasts />

    <Sidebar SideMenu="CloseSide" />

    <main>
        <CascadingValue Value="this">
            <div class="top-row">
                <p style="margin:0 auto;color:aliceblue;">@PageName</p>
            </div>
            <article class="content" @onclick="CloseSideMenu">
                @Body
            </article>
        </CascadingValue>


    </main>
</div>

@code{
    private string PageName;
    private bool CloseSide { get; set; } = false;
    public string Title
    {
        get => PageName;
        set
        {
            PageName = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

    private void CloseSideMenu(){

        CloseSide = !CloseSide;
    }
}
