.page {
/*    position: relative;
    display: flex;
    flex-direction: column;
*/}

main {
    flex: 1;
}

.top-row, article {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

.top-row {
    background-color: #292E49;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}



.content{
    height:90%;
}




input[type="checkbox"]:checked ~ main {
    background-color: rgba(0, 0, 0, 0.5);    
}
