<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" @bind="_value" />
<label class="sidebarIconToggle" @onclick="()=> _value = !_value">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div class="sdbar" id="sidebarMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> صفحه اصلی
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="help">
                <span class="oi oi-list-rich" aria-hidden="true"></span> راهنما
            </NavLink>
        </div>
            <div class="nav-item px-3">
        <NavLink class="nav-link" href="unit">
        <span class="oi oi-list-rich" aria-hidden="true"></span> واحد
        </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public bool SideMenu { get; set; }

    private bool _value = true;





    protected override void OnParametersSet()
    {
        Console.WriteLine($"param sets.. {DateTime.Now.ToString()}");
        _value = false;    
    }
}
